Options +FollowSymlinks
RewriteEngine on


RewriteRule ^users/login src/restController.php [qsa]
RewriteRule ^users/signin src/restController.php [qsa]

RewriteRule ^auth src/restController.php [qsa]

RewriteRule ^categories/list src/restController.php?api=categories&view=all [qsa]
RewriteRule ^categories/insert src/restController.php [qsa]
RewriteRule ^categories/update src/restController.php [qsa]
RewriteRule ^categories/delete src/restController.php [qsa]

RewriteRule ^ingredients/list src/restController.php?api=ingredients&view=all [qsa]
RewriteRule ^ingredients/insert src/restController.php [qsa]
RewriteRule ^ingredients/update src/restController.php [qsa]
RewriteRule ^ingredients/delete src/restController.php [qsa]

RewriteRule ^recipes/list src/restController.php?api=recipes&view=all [qsa]
RewriteRule ^recipes/([0-9]+)$ src/restController.php?api=recipes&view=byId&id=$1 [qsa]
