*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 15vh;
    background-color: #ffd6b6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    height: 15vh;
}

.row{
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: space-between;
    margin-right: 2%;
}


#cart {
    height: 25vh;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10%;
}

#cartImg {
    height: 8vh;     
}

#cart a{
    border: 1px solid #ffd6b6;
    text-decoration: none;
    color: black;
    font-size: 150%;
    padding: 3% 5%;
}

#logout{
    display: none;
}

#cart a:hover{
    border: 1px solid #5c2626;
    border-radius: 10px;
}

#navbar {
    width: 100%;
    height: 7vh;
    background-color: #5c2626;
    display: flex;
    align-items: center;
}

#categories {
    width: 50%;
    list-style: none;
    display: flex;
}

#categories li {
    border: 1px solid #5c2626;
    color: #ffd6b6;
    margin: 0 3%;
    padding: 1% 3%;
}

#categories li:hover {
    border: 1px solid #ffd6b6;
    border-radius: 10px;
    cursor: pointer;
}

#pageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

#form{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    width: 40%;
    padding: 3%;
}

#form input{
    margin-top: 1%;
    margin-bottom: 5%;
    padding: 3%;
}

#form #submit{
    width: fit-content;
    padding: 3% 7%;
    border-radius: 15px;
    border: 1px solid green;
    color: green;
    background: white;
}

#form #submit:hover{
    border: 1px solid white;
    color: white;
    background: green;
}

#wrongCredentials{
    display: none;
    color: red;
    border: 1px solid red;
    background-color: rgb(241, 149, 149);
    padding: 3%;
    margin-bottom: 5%;
}

#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#homeContainer{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#homeContainer .element{
    margin: 1%;
    width: 23%;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin-top: 1.5%;
}

#homeContainer .element img{
    width: 100%;
    height: 27vh;
}

#homeContainer .element h1{
    margin: 3% 0;
}

#homeContainer .element p{
    text-justify: distribute;
    height: 18vh;
    overflow: hidden;
    text-overflow: ellipsis;
}

#homeContainer .element h2{
    align-self: flex-start;
    margin: 3% 0;
}

#homeContainer .element button{
    border: 1px solid green;
    color: green;
    background-color: white;
    padding: 3%;
    border-radius: 15px;
    align-self: flex-end;
}

#homeContainer .element button:hover{
    border: 1px solid white;
    color: white;
    background-color: green;
}

.qty {
    width: 40px;
    height: 35px;
    text-align: center;
}
input.qtyplus { width:35px; height:35px;}
input.qtyminus { width:35px; height:35px;}

#cartContainer{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#cartContainer .element{
    width: 100%;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin-top: 1.5%;
}

#cartContainer .element .info{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center
}

#cartContainer .element img{
    width: 25%;
    height: 35vh;
}

#cartContainer .element .info h1{
    margin: 3% 0;
}

#cartContainer .element .info p{
    text-justify: distribute;
    height: 18vh;
    overflow: hidden;
    text-overflow: ellipsis;
}

#cartContainer .element .info h2{
    align-self: flex-start;
    margin: 3% 0;
}

#cartContainer .element button{
    border: 1px solid red;
    color: red;
    background-color: white;
    padding: 1%;
    border-radius: 15px;
    align-self: flex-end;
}

#cartContainer .element button:hover{
    border: 1px solid white;
    color: white;
    background-color: red;
}

#submitOrder{
    border: 1px solid green;
    color: green;
    background-color: white;
    padding: 1%;
    border-radius: 15px;
    align-self: flex-end;
    margin: 2.5%;
}

#submitOrder:hover{
    border: 1px solid white;
    color: white;
    background-color: green;
}

#logCart {
    height: 25vh;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1%;
}

#logCart img {
    height: 45%; 
    margin: 1vh;
}

#logCart a{
    text-decoration: none;
    color: black;
    font-size: 150%;
    padding: 3% 5%;
}

#logCart a:hover{
    border: 1px solid #5c2626;
    border-radius: 10px;
}

#totale{
    align-self: flex-end;
    margin-right: 2.5%;
}

.zoom {
    position: absolute;
    width: 40px;
    opacity: 0;
    animation: zoom 1s linear forwards;
}
  
  @keyframes zoom {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      top: 40px;
      right: 40px;
    }
  }
